@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic');

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body {
  height: 100%;
}

#mainChat {
	overflow: auto;
	width: 70%;
	height: 100%;
	float: left;
}


#userDiv {
	overflow: auto;
	background-color: #f1f1f1;
	height: 100%;
  border-left: 1px solid #dadada;
}

body {
  font-family: 'Istok Web', sans-serif;
  font-size: 1rem;
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
  margin: 0;
}

p.systemMessage {  
  color: #fff;
	background-color: #54728c;
  margin: 0;
  padding: 10px;
}

p {
  margin: 0;
  padding: 10px;
}

#userList {
  padding: 0;
  list-style-type: none;
}

.button {
  background-color: #68b54d;
  color: #fff;
  border: 1px solid #519339;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 50px;
  width: 80px;
}

.textarea {
  height: 100%;
}

textarea#inputText {
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
  border-top: 1px solid #dadada !important;
  border: none;
  border-radius: 3px;
  font-family: 'Istok Web', sans-serif;
  font-size: 1rem;
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
}

ul#userList li {
   font-weight: bold;
   margin: 0;
   padding: 10px 10px 10px 25px;
   color: #5d5d5d; 
}
ul#userList li.alternate {
   color: #fff;
   background-color: #54728c;
}
ul#userList li:hover {
   color: #fff;
   background-color: #54728c;
}
ul#userList li.alternate:hover {
   color: #fff;
   background-color: #54728c;
}


.ajaxmodal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url(/public/images/ajax-loader.gif) 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .ajaxmodal {
    display: block;
}

/* Messages */
.message {
  border-bottom: 1px solid #cccccc;
  margin: 0 10px;
}
.message .time {
  float: right;
}
.message .user {
  font-weight: bold;
  display: block;
}
.message .text {
  display: block;
}

/* Content */
#content {
  height: 100%;
}

/* Top Pane */
.colorbar {
  background-color: #54728c;
  height: 60px;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #466176;
  top: 0;
}

#topPane {
  color: #fff;
  height: 60px;
  position: absolute;
  width: 100%;
  top: 0;
  text-shadow: 0 0 1px #fff;
}

div.nameinput {
  width: 100%;
  padding: 5px;
}

#nameText {
  width: 100%;
  background-color: #f9f9f9;
  border: 2px solid #dadada;
  border-radius: 3px;
  font-family: 'Istok Web', sans-serif;
  font-size: 1rem;
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

#topPane .left {
  height: 100%;
  width: 70%;
  padding: 6px 16px;
}

#topPane .logo {
  float: left;
  font-weight: bold;
  font-size: 35px;
}

#topPane .right {
  width: 30%;
  padding: 16px 22px;
  border-left: 1px solid #466176;
}

#topPane .username {
  float: left;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 0 0 1px #fff;
}

.optionsarrow {
  float: right;
  background: transparent url(/public/images/settings.png) no-repeat;
  height: 28px;
  width: 30px;
}

.optionsarrow a {
  text-decoration:none;
  display: block;
  height: 100%;
}

.options {
  position: absolute;
  right: 0;
  top: 60px;
  background-color: #54728c;
  padding: 10px;
  border-left: 1px solid #466176;
  border-bottom: 1px solid #466176;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  border-radius: 0 0 0 5px;
  font-weight: bold;
  display: none;
}

/* Middle Pane */
#middle {
  margin: 0;
  height: 80%;
  padding-top: 60px;
}

/* Input and Button Form */
div.form {
  padding: 0;
  height: 20%;
  position: relative;
}

.right {
  float: right;
}
.left {
  float: left;
}