@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic');

#mainChat {
	overflow: auto;
	width: 80%;
	height: 500px;
	background-color: #eef7ff;
	float: left;
}


#userDiv {
	overflow: auto;
	background-color: #f1f1f1;
	width: 20%;
	height: 500px;
}

body {
  font-family: 'Istok Web', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

p.systemMessage {  
  color: #fff;
	background-color: #54728c;
  margin: 0;
  padding: 10px;
}

p {
  margin: 0;
  padding: 10px;
}

#userList {
  padding: 0;
  list-style-type: none;
}

textarea#inputText {
  margin: 0 0px 0 -10px;
  height: 40px;
  width: 80%;
}

ul#userList li {
   font-weight: bold;
   margin: 0;
   padding: 10px 10px 10px 25px;
   color: #5d5d5d; 
}
ul#userList li.alternate {
   color: #fff;
   background-color: #54728c;
}
ul#userList li:hover {
   color: #fff;
   background-color: #54728c;
}
ul#userList li.alternate:hover {
   color: #fff;
   background-color: #54728c;
}

input#sendButton {
  height: 50px;
  width: 20%;
  background-color: #68b54d;
  color: #fff;
  border: 1px solid #519339;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  right: 0;
  position: absolute;
  margin: 0 8px;
}


.ajaxmodal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url(/public/images/ajax-loader.gif) 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .ajaxmodal {
    display: block;
}

/* Messages */
.message .time {
  float: right;
}
.message .user {
  font-weight: bold;
  display: block;
}
.message .text {
  display: block;
}